html,
body {
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: lightgray;
}
.navbar {
  display: flex;
  background-color: rgb(242, 107, 129);
  justify-content: space-around;
  padding: 1.3%;
  align-items: center;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 3px;
}
.part1 {
  display: flex;
  background: linear-gradient(
    106.5deg,
    rgba(235, 237, 153, 0.781) 15%,
    rgba(232, 140, 207) 97%
  );
  width: auto;
  margin-bottom: 2rem;
}
.part1 > .part1-left {
  font-family: "calibri";
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.part1 > .part1-left > #title {
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-stretch: expanded;
}
.part1 > .part1-left > #intro {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5rem;
  align-items: center;
}
.part1 > .part1-left > #button {
  background-color: rgba(255, 113, 113);
  border: none;
  width: 25%;
  margin-top: 8%;
  padding: 1.5%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.part1 > .part1-right {
  height: 40rem;
  background-image: url("./assets/pexels-robin-stickel-70497.jpg");
  width: 50%;
  background-size: cover;
  background-position: center;
}

.part2 {
  background: linear-gradient(
    106.5deg,
    rgba(244, 230, 153, 0.781) 15%,
    rgba(224, 159, 248, 0.8) 97%
  );
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-bottom: 2rem;
}
.part2 > .left {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.part2 > .left > .left-left > #left-top {
  height: 15rem;
  width: 15rem;
  background-image: url("./assets/pexels-rachel-claire-6752433.jpg");
  margin: 1rem;
  background-position: center;
  background-size: contain;
}
.part2 > .left > .left-left > #left-bottom {
  height: 15rem;
  width: 15rem;
  background-image: url("./assets/pexels-eva-bronzini-6141651.jpg");
  margin: 1rem;
  background-position: center;
  background-size: contain;
}

.part2 > .left > .left-right {
  height: 31rem;
  width: 15rem;
  background-image: url("./assets/pexels-mister-mister-3434523.jpg");
  background-position: center;
  background-size: cover;
}

.part2 > .right {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 20rem;
  background-color: rgb(235, 133, 133);
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;
}

.part2 > .right > .middle {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 2.5rem;
  text-align: justify;
}

.part2 > .right > .bottom {
  display: flex;
  align-items: center;
}

.part2 > .right > .bottom > img {
  width: 1rem;
  height: rem;
  display: block;
  margin-top: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
  .part1 {
    flex-direction: column;
    justify-content: center;
  }

  .part1-left,
  .part1-right {
    padding: 0;
    text-align: center;
  }
  .part1 > .section1-right {
    width: 100%;
  }

  .part2 {
    display: block;
    width: auto;
  }
  .part2 > .left > .left-left > #left-top {
    height: 15rem;
    width: 15rem;
    background-image: url("./assets/pexels-rachel-claire-6752433.jpg");
    margin: 1rem;
    background-position: center;
    background-size: contain;
  }
  .part2 > .left > .left-left > #left-bottom {
    height: 15rem;
    width: 15rem;
    background-image: url("./assets/pexels-eva-bronzini-6141651.jpg");
    margin: 1rem;
    background-position: center;
    background-size: contain;
  }

  .part2 > .left > .left-right {
    height: 31rem;
    width: 15rem;
    background-image: url("./assets/pexels-mister-mister-3434523.jpg");
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: block;
    width: 120%;
    text-align: center;
  }
  .part1 {
    flex-direction: column;
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
  }

  .part1-left {
    padding: 0;
    text-align: justify;
    width: auto;
  }

  #title {
    font-size: 24px;
  }

  #intro {
    font-size: 14px;
  }

  #button {
    font-size: 14px;
  }

  .part1 > .part1-right {
    width: 100%;
  }
  .part2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .part2 > .left > .left-left > #left-top {
    height: 10rem;
    width: 10rem;
    background-image: url("./assets/pexels-rachel-claire-6752433.jpg");
    margin: 1rem;
    background-position: center;
    background-size: contain;
  }
  .part2 > .left > .left-left > #left-bottom {
    height: 10rem;
    width: 10rem;
    background-image: url("./assets/pexels-eva-bronzini-6141651.jpg");
    margin: 1rem;
    background-position: center;
    background-size: contain;
  }
  .part2 > .left > .left-right {
    height: 21rem;
    width: 10rem;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    display: block;
    width: 100%;
    text-align: center;
  }
  .part1 {
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }

  .part1-left {
    padding: 0;
    text-align: center;
  }

  #title {
    font-size: 20px;
  }

  #intro {
    font-size: 12px;
  }

  #button {
    font-size: 12px;
    width: 100%;
  }
  .part1 > .part1-right {
    height: 20rem;
    width: 100%;
  }
  .part2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .part2 > .left {
    flex-direction: column;
  }
  .part2 > .left > .left-left > #left-top {
    height: 15rem;
    width: 15rem;
    background-image: url("./assets/pexels-rachel-claire-6752433.jpg");
    margin: 1rem;
    background-position: center;
    background-size: contain;
  }
  .part2 > .left > .left-left > #left-bottom {
    height: 15rem;
    width: 15rem;
    background-image: url("./assets/pexels-eva-bronzini-6141651.jpg");
    margin: 1rem;
    background-position: center;
    background-size: contain;
  }

  .part2 > .left > .left-right {
    height: 21rem;
    width: 15rem;
    background-image: url("./assets/pexels-mister-mister-3434523.jpg");
    background-position: center;
    background-size: cover;
  }
  .part2 > .right {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    height: auto;
    background-color: rgb(235, 133, 133);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 14rem;
    margin: 1rem 0 0 0;
    font-size: 0.5rem;
  }
}